# Environment files — JANGAN commit, letak dalam Vercel/Render dashboard
.env
.env.local
.env.*.local

# Frontend dependencies & build
node_modules/
dist/
dist-ssr/

# Go binary
backend/server

# Logs
*.log

# Editor
.vscode/*
.idea
.DS_Store
